.tid_container {
    color: green;
    float: left;
    margin-right: 15px;
}

.txt_tid {
    margin-left: 5px;
}

.p_tid {
    display: inline;
}

.btn_start_tid {
    display: inline;
    float: left;
}

.btn_bland {
    display: inline;
    float: left;
}

.kategori_container {
    
}
.kat_obj_container{
margin-top: 30px;
}

.gui_container {}

.imgcontent {}

.content_header {
    text-align: center;
}

.glyphicon-plus-sign:before {
    color: #D0CEC6;
    font-size: 25px;
}

.glyph_container{
        padding-top: 11%;
    text-align: center;
}
